{% for y in 0.. constant('App\\BoxGame::MAX_Y_SIZE') %}
    <div class="row ">
        {% for x in 0.. constant('App\\BoxGame::MAX_X_SIZE') %}
            <div class="col">
                {%- if game.tilesArray[x][y] -%}
                    <img src="assets/{{ game.tilesArray[x][y].render }}"/>
                {% endif %}
                {%- if game.player.x == x and game.player.y == y -%}
                    <img class="player{{ game.player.direction }}" src="assets/{{ game.player.render }}"/>
                {%- endif -%}
            </div>
        {% endfor %}
    </div>
{% endfor %}
<div class="col-sm-12 text-right">
    {% if game.player.hammer %}
        Press <kbd>A</kbd> to destroy
    {% endif %}

    {% if game.isWin %}
        WIN !
    {% endif %}

</div>
